In [2]:
import pandas as pd
import re

In [7]:
date = pd.read_csv('sentiment.csv')
date.set_index('date')
date

              date  Polarity
0         1/2/2019  0.018500
1         1/2/2019  0.074128
2         1/2/2019  0.057982
3         1/2/2019  0.076349
4         1/2/2019  0.115087
...            ...       ...
376027  10/26/2020 -0.037719
376028  10/26/2020  0.104878
376029  10/26/2020  0.152859
376030  10/26/2020  0.158918
376031  10/26/2020  0.061246

[376032 rows x 2 columns]

In [8]:
date['date'] = pd.to_datetime(date['date'])
date.info()
date.set_index('date',inplace=True)
date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376032 entries, 0 to 376031
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      376032 non-null  datetime64[ns]
 1   Polarity  376032 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.7 MB

            Polarity
date
2019-01-02  0.018500
2019-01-02  0.074128
2019-01-02  0.057982
2019-01-02  0.076349
2019-01-02  0.115087
...              ...
2020-10-26 -0.037719
2020-10-26  0.104878
2020-10-26  0.152859
2020-10-26  0.158918
2020-10-26  0.061246

[376032 rows x 1 columns]

In [9]:
date_polarity = date.resample('D').mean()
date_polarity

            Polarity
date
2019-01-02  0.048118
2019-01-03  0.034139
2019-01-04  0.055781
2019-01-05       NaN
2019-01-06       NaN
...              ...
2020-10-22  0.070976
2020-10-23  0.070938
2020-10-24       NaN
2020-10-25       NaN
2020-10-26  0.059617

[664 rows x 1 columns]

In [10]:
date_polarity.to_csv('baza_date_finala1.csv')